.btn {
    background-color: $mainColor;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 24px 28px;
    transition-duration: .4s;
    &:hover {
        color: #793412;
    }
    &_instant {
        margin-top: 35px;
        height: 60px;
        padding: 0;
    }
    &_getintouch {
        margin-top: 30px;
        height: 50px;
        width: 200px;
        padding: 0;
        margin-left: auto;
    }
}
