.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    &__logo {
        width: 350px;
        img {
            width: 100%;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        li {
            padding: 0 20px;
        }
    }
    &__link {
        color: #333333;
        font-size: 25px;
        transition-duration: .5s;
        &:hover {
            color: $mainColor;
        }
    }
}