.promo {
    padding-top: 150px !important;
    padding-bottom: 320px !important;
    background: url("../img/promo.png") center bottom / contain no-repeat;
    background-color: $mainColor;
    &__descr {
        color: #ffffff;
        font-family: Roboto;
        font-size: 20px;
        margin: 28px auto 0 auto;
        text-align: center;
        font-weight: 700;
        max-width: 500px;
    }
    &__form {
        display: flex;
        justify-content: center;
        margin-top: 51px;
    }
}
